# Ignorar archivos de entorno y configuraciones locales
venv/
*.log
config.json

# Ignorar caché de Python
.pytest_cache
__pycache__/
*.py[cod]

# Ignorar carpetas de IDEs como VSCode y JetBrains
.vscode/

# Proopios
tests/
run.py

# Archivos de instalación editable
*egg-info/
dist/

# ROM database
roms.sqlite3*